@import '@/assets/normalize.scss';

body {
  font-family: 'Inter', sans-serif;
  font-size: 17px;
  line-height: 1.2;
  font-weight: 300;
  color: #333;
}

.container {
  padding: 0 15px;
}

.block {
  padding: 25px 0;
}

.title {
  font-size: 23px;
  font-weight: 600;
}

@media (min-width: 1024px) {
  .container {
    max-width: 1270px;
    padding: 0 25px;
    margin: 0 auto;
  }
}
